h2 {
    margin-top: 0.25rem;
}

.service {
    position: relative;
    padding: .5rem;
    margin: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.price {
    font-size: 1.25rem;
    color: grey;
    margin: 0.5rem;
}

button {
    position: relative;
    /* keep above overlay */
    z-index: 1;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    width: 14rem;
    color: #fff;
    background-color: #004c26;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #006633;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}